nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid #000;
  background: #333;
  color: rgb(200, 210, 62);
  box-shadow: inset 0px -5px 5px 0px rgb(251 253 179 / 10%);

  a {
    color: rgb(200, 210, 62);
  }
}

main {
  padding: 1em;
  background-image: url("/bg-with-gold.webp");
  flex-grow: 1;
}