:host {
    display: block;
    width: 50vw;
    height: 50vw;
}

.grid {
    display: grid;
    width: 100%;
    height: 100%;
    background: #333;
}

.cell {
    border: 1px solid #000;
    width: 100%;
    height: 100%;
    position: relative;
}

.cell-items {
    display: flex;
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%
}

.cell-players {
    display: flex;
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    z-index: 1;
    align-items: center;
    align-content: center;

    app-avatar {
        width: 25%;
    }
}