<div
    style="display: grid; width: 100%; height: 100%; grid-template-columns: repeat({{_gridSize}}, 1fr); grid-template-rows: repeat({{_gridSize}}, 1fr); ">

    @for (item of _gridItems; track item.id) {
    <div style="border: 1px solid #000; width: 100%; height: 100%; position: relative;" id="{{item.id}}">
        <div style="position: absolute; top: 20%; left: 20%; width: 60%; height: 60%">
            @if(item.wumpus){
            <svg width="100%" height="100%" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <circle cx="50" cy="50" r="30" fill="#ccc" stroke="#222" stroke-width="4" />
                <ellipse cx="40" cy="40" rx="5" ry="8" fill="#fff" />
                <ellipse cx="60" cy="40" rx="5" ry="8" fill="#fff" />
                <ellipse cx="40" cy="42" rx="2" ry="3" />
                <ellipse cx="60" cy="42" rx="2" ry="3" />
                <path stroke="#000" stroke-width="2" d="M35 36h10m10 0h10" />
                <path d="M35 60q15 20 30 0-15 10-30 0" fill="none" stroke="#000" stroke-width="3" />
                <path stroke="#000" stroke-width="2" d="m45 65 2 10m8-10-2 10" />
                <path d="M20 30q10-20 20 0m20 0q10-20 20 0" fill="#ccc" stroke="#222" stroke-width="4" />
                <path d="M48 50h4l-2 5Z" />
            </svg>
            }
            @if(item.pit){
            <span
                style="height: 100%; width: 100%; background-color: black; border-radius: 50%; display: inline-block;"></span>
            }
            @if(item.treasure){
            <svg width="100%" height="100%" viewBox="0 -3.99 48.891 48.891" xmlns="http://www.w3.org/2000/svg">
                <g data-name="gold bars shiny">
                    <path data-name="Path 7" d="m24.446 40.409-3.991-11.973H4.491L.5 40.409Z" fill="#ffe959"
                        fill-rule="evenodd" />
                    <path data-name="Path 8" d="M48.391 40.409 44.4 28.436H28.436l-3.99 11.973Z" fill="#ffe959"
                        fill-rule="evenodd" />
                    <path data-name="Path 9" d="m36.418 28.436-3.99-11.973H16.464l-3.991 11.973Z" fill="#ffe959"
                        fill-rule="evenodd" />
                    <path
                        d="m12.473 3.708 3.991 6.913M3.707 12.472l6.914 3.991M.5 24.445h7.982m39.909 0h-7.982m4.773-11.973-6.912 3.991M36.418 3.708l-3.99 6.911M24.447.498v7.981m11.971 19.957-3.99-11.973H16.464l-3.991 11.973Zm9.31 3.991-1.331-3.991H28.436l-3.99 11.973h23.945l-1.331-3.99m-45.229 0L.5 40.41h23.946l-3.991-11.973H4.491L3.16 32.428"
                        fill="none" stroke="#0f0e0b" stroke-linecap="round" stroke-linejoin="round" />
                </g>
            </svg>
            }
        </div>


        <div id="north" style="position: absolute; top:0; height: 20%; width: 60%; margin: 0 20%;">
            @for (player of item.players.north; track player.id) {
            <app-avatar [trouserColor]="player.user.trouserColor" [skinColor]="player.user.skinColor" />
            }
        </div>
        <div id="east" style="position: absolute; right:0; height: 60%; width: 20%; margin: 20% 0;">
            @for (player of item.players.east; track player.id) {
            <app-avatar style="transform:rotate(90deg); width: 30px;" [trouserColor]="player.user.trouserColor"
                [skinColor]="player.user.skinColor" />
            }
        </div>
        <div id="south" style="position: absolute; bottom:0; height: 20%; width: 60%; margin: 0 20%;">
            @for (player of item.players.south; track player.id) {
            <app-avatar style="transform:rotate(180deg); width: 30px;" [trouserColor]="player.user.trouserColor"
                [skinColor]="player.user.skinColor" />
            }
        </div>
        <div id="west" style="position: absolute; left:0; height: 60%; width: 20%; margin: 20% 0;">
            @for (player of item.players.west; track player.id) {
            <app-avatar style="transform:rotate(270deg); width: 30px;" [trouserColor]="player.user.trouserColor"
                [skinColor]="player.user.skinColor" />
            }
        </div>
    </div>
    }
</div>