<div
    class="grid"
    style="grid-template-columns: repeat({{_gridSize}}, 1fr); grid-template-rows: repeat({{_gridSize}}, 1fr); ">

    @for (item of _gridItems; track item.id) {
    <div class="cell" id="{{item.id}}">
        <div class="cell-items">
            @if(item.wumpus){
            <app-wumpus />
            }
            @if(item.pit){
            <app-pit />
            }
            @if(item.treasure){
            <app-treasure />
            }
        </div>
        <div class="cell-players">
            @for (player of item.players; track player.id) {
                <app-avatar 
                    [title]="player.user.name"
                    [hover]="highlightUserId === player.user.id"
                    [style]="'transform:rotate(' + getPlayerRotation(player) + 'deg);'"
                    [trouserColor]="player.user.trouserColor" 
                    [skinColor]="player.user.skinColor" />    
            }
        </div>
    </div>
    }
</div>