<section class="users" [class.finished]="isFinished">
    <h3>Players</h3>
    <table class="user-table">
        <thead>
            <tr>
                <th width="5%">#</th>
                <th style="width: 30%;">Name</th>
                <th>Avatar</th>
                @if(!isFinished){
                <th>Score</th>
                }
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @for (score of sortedScores(); track score.username; let idx = $index;) {
            <tr [id]="'row-' + score.userId" (mouseenter)="highlight(score.userId)" (mouseleave)="highlight(undefined)" [class.highlighted]="highlightUserId() === score.userId">
                <td width="5%">{{idx + 1}}</td>
                <td style="width: 30%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                    {{score.username}}</td>
                <td style="display: flex;">
                    <app-avatar [trouserColor]="score.trouserColor" [skinColor]="score.skinColor" />

                    @if(getGameUserState(score.userId)?.gameCompleted){
                    ✅
                    } @else if (getGameUserState(score.userId)?.death) {
                    ☠️
                    } @else if (getGameUserState(score.userId)?.hasTreasure){
                    <app-treasure style="height: 20px;width: 21px;" />
                    }
                </td>
                @if(!isFinished){
                <td>{{getGameUserState(score.userId)?.points}}</td>
                }
                <td>{{score.points}}</td>
            </tr>
            } @empty {
            <tr>
                <td [attr.colspan]="isFinished ? '4': '5'">No users in game</td>
            </tr>
            }
        </tbody>
    </table>
</section>

@if (!isFinished) {
<section class="game">
    <div>
        <h3 id="game-header">{{gameInformation()?.name}} ({{currentGameNumber }} / {{numberOfGames}})
            @if (isDevelopment) {
              <button (click)="advance()">{{isFinalGame ? 'Finish' :'Advance'}}</button>
            }
        </h3>

        @if(gameInformation(); as game){
        <app-game-grid [game]="game" [highlightUserId]="highlightUserId()" (highlight)="highlightAndScroll($event)" />
        }
    </div>
</section>
}
