main {
    min-height: 100%;
    opacity: 95%;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
    background: #333;
}

.user,
.game {
    margin-left: 50px;
}

app-game-canvas {
    min-width: 250px;
    aspect-ratio: 1;
    display: block;
}